 <head>
 <style>
 body{
 	
 }
 p{color:blue;
 background-image: url(background.jpg) blue;
 	background-position: top center;
	background-repeat: no-repeat;
 	background-attachment: fixed;
	background-color:black; }
h1{color:purple;}