 <head>
 <style>
 body{

 background-image: url(background.jpg) blue;
 	background-position: top center;
	background-repeat: no-repeat;
 	background-attachment: fixed;
	background-color:black; }
 	
 }
p{font-color:blue;} 
h1{font-color:purple;}
</style>
</head>